@use "../global" as *;


.contact_form-inner{
     margin-top: 5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     @include mq('mds'){
          margin-top: -10px;
     }
}
.contact_form-title p{
     margin-top: 3rem;
     @include mq('mds'){
          margin-top: 35px;
          padding: 0 20px;
     }
}
.contact_form-item{
     background-color: #EBF5FE;
     width: 100rem;
     margin-top: 12rem;
     padding: 12rem 12.4rem;
     font-size: 16px;
     line-height: calc(24 / 16);
     @include mq('lgs'){
          width: 100%;
          padding: 9.6vw 6.51vw;
     }
     @include mq('mds'){
          width: 110%;
          padding: 60px 5.33vw;
          margin-left: calc(50% - 50vw);
          margin-right: calc(50% - 50vw);
     }
}
.wpcf7-form{
     display: flex;
     flex-direction: column;
     gap: 6.5rem;
     @include mq('mds'){
          gap: 30px;
     }
}
.wpcf7-form p{
     display: flex;

}
::placeholder {
     color: #AFAFAF;
   }
.contat_form-name,
.contat_form-name-kana,
.contat_form-tel,
.contat_form-mail{
     height: 2.6rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     font-size: 16px;
     line-height: calc(24 / 16);
     @include mq('mds'){
          flex-direction: column;
          height: initial;
          align-items: flex-start;
          font-size: 16px;
     }
}
.contat_form-textarea{
     display: flex;
     justify-content: space-between;
     height: 21.5rem;
     width: 100%;
     font-size:16px;
     line-height: calc(24 / 16);
     @include mq('mds'){
          flex-direction: column;
          align-items: flex-start;
          height: initial;
          font-size:16px;
     }
}
.contat_form-name span:first-child{
     margin-left: -7%;
     @include mq('lgs'){
          margin-left: 0;
     }
     @include mq('mds'){
          margin-left: 63px;
     }
}
.contat_form-name-kana span:first-child{
     margin-left: -6%;
     @include mq('lgs'){
          margin-left: 0;
     }
     @include mq('mds'){
          margin-left: 78px;
     }

}
.contat_form-mail span:first-child{
     margin-left: -2%;
     @include mq('lgs'){
          margin-left: 0;
     }
     @include mq('mds'){
          margin-left: 125px;
          margin-top: -25px;
     }
}
.contat_form-tel span:first-child{
     margin-left: -6%;
     @include mq('lgs'){
          margin-left: 0;
     }
     @include mq('mds'){
          margin-left: 78px;
     }
}
.contat_form-textarea span:first-child{
          @include mq('lgs'){
               margin-left: 0;
     }
     @include mq('mds'){
          margin-left: 145px;
          margin-top: -28px;
     }
}
.required{
     padding: 4px 9px 2px 9px;
     color: #FF7979;
     background-color: #ffffff;
     border: 1px solid #FF7979;
     height: 26px;
     line-height: calc(24 / 16);
     font-size: .83vw;
     @include mq('mds'){
          margin-top: -20px;
          margin-top: -29px;
          padding: 3px 6px;
          font-size: 16px;
     }
}
.wpcf7-form-control-wrap{
     display: flex;
     justify-content: flex-end;
}
.form-name,
.form-name-kana,
.form-tel,
.form-mail,
.form-textarea{
     background-color:#ffffff ;
     border-radius: 4px;
     color: #AFAFAF;
     width: 50rem;
     padding-left: 18px;
     @include mq('lgs'){
          width: 52.08vw;
     }
     @include mq('mds'){
          width: 90vw;
     }
}     
.form-textarea{
     padding-top: 10px;
     @include mq('mds'){
          padding:15px 18px 0 18px;
     }
}
.form-name,
.form-name-kana,
.form-tel,
.form-mail{
     height: 50px;

}

.contact_form-item--text{
     font-size: 14px;
     line-height: calc(21 / 14);
     text-align: center;
     justify-content: center;
     display: flex;
     margin-top: 6rem;
     margin-left: 3rem;
     @include mq('mds'){
          margin-left: -5%;
          padding: 0 15px;
          margin-top: 20px;
     }
}
.contact_form-btn{
     margin-top: 12rem;
     @include mq('mds'){
          margin-top: 0;
     }
}


// contant-end
.contact_form-titles--end p{
     @include mq('mds'){
          padding: 0 10px;
     }
}
.contact_form-btn--middle{
     margin-left: 0;
     margin-bottom: 20rem;
     @include mq('mds'){
          padding: 28px 0;
          margin-top: 20px;
          margin-bottom: 40px;
     }
}