@use "../global" as *;

.treatment{
  position: relative;
  z-index: 10;
  background-color: transparent;
  margin-top: 0rem;
  @include mq('mds'){
  }
}
.treatment_inner::after{
  content: "";
  background-color: #EBF5FE;
  z-index: 1;
  position: absolute;
  width: 37.76vw;
  max-width: 75rem;
  min-width: 50rem;
  height: 37.76vw;
  max-height: 75rem;
  min-height: 50rem;
  border-radius:  50% ;
  top: -15%;
  left: -18%;
  @include mq('lgs'){
    top: -3%;
    left: -20%;
  }
  @include mq('mds'){
    background-color: rgba(235,245,254,.6);
    width: 193.33vw;
    height: 193.33vw;
    border-radius: 50%;
    top: -5.5%;
    left: -149%;
  }
}
.treatment_inner{
  display: flex;
  @include mq('lgs'){
    flex-direction: column;
  }
}
.treatment_img{
  justify-content: flex-end;
  margin-bottom: 5px;
}
.treatment_items{
  width: 50%;
  margin: 8.3rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include mq('lgs'){
    width: 100%;
    margin: 60px 0 0;
  }
  
}
.treatment_item-title{
  font-size: 2.4rem;
  line-height: calc(36 / 24);
  margin-top: 7.5rem;
  @include mq('lgs'){
    font-size: 20px;
    line-height: calc(30 / 20);
    margin-top: 38px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.treatment_item-text p{
  font-size: 1.8rem;
  line-height: calc(27 / 18);
  margin-top: 2.8rem;
  margin-bottom: 6.4rem;
  @include mq('mds'){
    margin-top: 35px;
    margin-bottom: 65px;
    padding: 0 10px;
    font-size: 14px;
    line-height: calc(21 / 14);
  }
}
.treatment_img img:first-child{
  object-position: 53%;
  margin-top: 5.7rem;
  @include mq('lgs'){
    margin-top: 0;
    margin-left: calc(50% - 50vw);
    margin-right: auto;
    object-position: initial;
    object-fit: cover;
  }
}
.treatment_img img:last-child{
  // object-fit: cover;
  object-position:74%  100%;
  margin-left: -4rem;
  margin-bottom: 5.7rem;
  @include mq('lgs'){
    margin-right: calc(50% - 50vw);
    margin-left: auto;
    margin-top: -17.87vw;
    margin-bottom: 0;
  }
}