@use "../global" as *;

.commeitments__card{
  display: flex;
  
  @include mq(mds){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.commeitments__card-img{
  width: 31.5%;
  @include mq(mds){
    width: 64%;
  }
}
.commeitments__card-img--pc{
  aspect-ratio: 340 / 340;
  object-fit: cover;
  
}
.commeitments__card-img--mb{
  @include mq(mds){
    aspect-ratio: 240 / 160;
    object-fit: cover;
    margin: 0 auto;
  }
}
.commeitments__card-container{
  background-color: $black;
  color: $white;
  width: 64%;
  font-weight: $regular;
  padding: 4rem 7.5rem 4.7rem;
  margin-left: 3.5vw;
  @include mq(mds){
  width: initial;
  padding: 20px 15px 15px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  }
}
.commeitments__card-title{
  font-size: 2.4rem;
  line-height: calc(36 / 24);
  text-align: center;
  @include mq(mds){
    font-size: 23.8px;
    text-align: initial;
  }
}
.commeitments__card-text{
  margin-top: 3.2rem;
  font-size: 1.6rem;
  line-height: calc(36 / 16);
  @include mq(mds){
    font-size: 16px;
    margin-top: 17px;
    line-height: calc(22/ 15);
  }
}