@use "../global" as *;

.onedish{
  padding: 10rem 0;
  @include mq(mds){
    padding: 40px 0;
  }
}
.onedish-inner{
  margin-top: 4.5rem;
  @include mq(mds){
    margin-top: 20px;
  }
}
.section-btn{
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  @include mq(mds){
    margin-top: 20px;
  }
}